<div ng-if="user">
    <div class="ui fixed inverted menu">
        <a href="#/commentaire" class="header item">Accueil</a>
        <div class="right menu">
            <a href="#/changePassword/{{user.id}}" class="ui item"><span>Changer mon mot de passe</span></a>
            <a  href="#/profil/{{user.id}}" class="ui item"><span>Hello {{user.nom.substring(0, 1)}} {{user.prenom}}</span></a>
            <a class="ui item" ng-click="logout()">Logout</a>
        </div>
    </div>
</div>


<div ng-if="user === undefined">
    <div class="ui fixed inverted menu">
        <a href="#/" class="header item">Authentification</a>
        <div class="right menu">
            <a href="#/" class="ui item"><span>Login</span></a>
            <a href="#/register" class="ui item"><span>Register</span></a>
        </div>
    </div>
</div>