<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<form class="ui form" ng-submit="addCommentaire()">
    <div class="field">
        <label for="message"> Message </label>
        <input  type="hidden" 
                name="users_id" 
                id="users_id" 
                ng-model="users_id"
                ng-init="users_id = '3'" />
        <textarea 
                name="content" 
                id="content" 
                ng-model="content"
                ng-init="content = 'Votre Commentaire'" />
    </div>

    <button type="submit" class="ui blue labeled submit icon button submit">
        <i class="icon edit"></i> Envoyer
    </button>
</form>


<div class="ui comments">
    <h3 class="ui dividing header">Commentaires</h3>
        <div class="comment" ng-repeat="raw in commentaire">

            <a class="avatar" href="#show/{{raw.id}}" ng-if="raw.choixImage == 'monImage' ">
                <img src="http://localhost:8080/assets/upload/{{raw.monimage}}" alt="avatar">
            </a>
            <a class="avatar" href="#show/{{raw.id}}" ng-if="raw.choixImage == 'avatar' ">
                <img src="{{raw.avatar}}" alt="avatar">
            </a>

            <a ng-click="editUpdate(raw.id)" class="ui inverted blue button edit_content_click_{{raw.id}}" style="float: right;">
                <i class="icon edit"></i> Modifier
            </a>

            <form class="ui form" ng-submit="deleteCommentaire(raw.id)">
                <button type="submit" class="ui inverted red button" style="float: right;">
                    <i class="icon delete"></i> Supprimer
                </button>
            </form>
            
            <div class="content">
                <div class="metadata">
                    <div class="date">
                        {{raw.created_at}}
                    </div>
                </div>
                <div class="test">
                    {{raw.content}}
                </div>

                <div class="edit_content_id_{{raw.id}}" style="display: none;">
                    <div ng-repeat="r in show">
                        
                        <form class="ui form" ng-submit="updateCommentaire()">
                            <div class="field">
                                <input type="hidden" 
                                        name="idn" 
                                        id="idn" 
                                        ng-model="idn"
                                        ng-init="idn = r.id" />
                            </div>

                            <div class="field">
                                <label for="message"> Message </label>
                                    <textarea 
                                        name="edit" 
                                        id="edit" 
                                        ng-model="edit"                                        ng-init="edit = r.content" />
                            </div>

                            <button type="submit" class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Modifier
                            </button>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>
</div>