<div ng-include src="'app/views/navbar/navbar.html'"></div>

<div class="ui main container">
    <link rel="stylesheet" href="public/css/style.css">

    <div class="ui negative message success_mess" style="display:none;">
        <div class="error"></div>
    </div>
    <div class="ui positive message error_mess" style="display:none;">
        <div class="success"></div>
    </div>

    <div class="ui one column center aligned grid">
        <div class="column six wide form-holder">
            <h2 class="center aligned header form-head">Découverte de `SASS` et `Compass`</h2>
            







        </div>
    </div>

</div>